@import 'base/settings'

//Цвета
$color-base: #CFD8DC		//Основной цвет
$color-two: #3688b9			//Основной цвет 2
$color-light: #eee			//Очень светлый цвет (при наведении на input и table) 
$color-red: #d94d65			//Красный цвет (цвет ошибок)
$color-grey: #ccc			//Серый цвет

$color-text: #202020		//Цвет текста
$color-a: $color-base		//Ссылка
$color-a_hover: $color-two	//Ссылка при наведении
$color-ul: $color-base		//ul
$color-button: #555  //Кнопка фон
$color-button_text: #fff	//Кнопка текст
$color-nav: #fff			//Меню фон
$color-nav_text: #000		//Меню текст
$color-modalbk: rgba(0,0,0,0.4) 	//Фон модального окна

//Ширина медиазапросов
$s: 479px
$m: 768px
$l: 980px
$xl: 1209px

//Шрифт
$font-size: 23px				//Размер шрифта /=18px
//$font-size_mobile: $font-size	//Размер на мобайл	/=18px

$font-regular: 300 	//Regular /=300
$font-bold: 500		//Bold /=400
$font-h: 500		//Заголовки /=300
$font: $font-regular 1em/1.4 Roboto, sans-serif

//Страница
$margin: 2rem 		//Размер отступов вертикальных

//Меню
$nav: m 				//Переход nav в адаптив (false=не адаптир., s-xl, xs=всегда, 85px=85px) /=m
$nav_animate: right 	//Откуда выдвигается меню на mobile (от left до right), false=без анимации /=false
$nav-height: 80px 		//Высота nav /=47px

//Шапка
$header: m 			//Переход header в адаптив (false=не адаптир., s-xl, xs=всегда, 85px=85px) /=false
$logo: m 			//Переход logo по центру (false=не адаптир., s-xl, xs=всегда, 85px=85px) /=false

//Таблицы
$table-all: false 	//Стиль для всех таблиц! /=true

//Скорость анимаций
$animate_speed: 0.15s 	// /=0.15s
$animate: 0.25s 			// /=0.3s
$animate_slow: 0.7s 	// /=0.7s

@import 'base/settings__custom'