/*ТЕЛО*/
@import 'base/body'
.section
	padding-top: 70px
p
	margin: 0 0 1.4em

/*ЗАГОЛОВКИ*/
@import 'base/title'
h1
	margin: 70px 0 50px
	font-size: calc(4.7vw + 2vh + 1vmin)
	+media($s)
		font-size: 2.2em
h2
	font-size: calc(5vw + 1.5vh + 1vmin)
	+media($s)
		font-size: 1.9em
h1, h2
	text-align: center
	+media($s)
		text-align: left

/*СПИСКИ*/
//import 'base/list'

/*ИЗОБРАЖЕНИЯ*/
//import 'base/img'
img
	max-width: 100%

/*КНОПКИ*/
@import 'base/button'
.button
	text-transform: uppercase
	font-size: 0.8em
	padding: 0.9em 2.5em
	color: $color-a
	border: 2px solid
	border-radius: 50px
	font-weight: $font-bold
	+hover
		will-change: box-shadow
		box-shadow: 0 0 0 $color-a inset
		transition: box-shadow $animate, color $animate
		&:hover
			animation: button_on $animate
			box-shadow: 0 -3.3em 0 $color-a inset
			color: #fff

@keyframes button_on
	0%
		box-shadow: 0 0 0 $color-a inset
		color: $color-a
	100%
		box-shadow: 0 3.3em 0 $color-a inset

/*ТАБЛИЦЫ*/
//import 'base/table'
td
	vertical-align: top

.fbetween
	+flex-min
	align-items: center

/*АНИМАЦИЯ*/
.fade-enter-active, .fade-leave-active
	transition: opacity .2s

.fade-enter, .fade-leave-to
	opacity: 0